extends layout

block content
  h1= title

  block matches

    div
      each obj, index in matches
         div(class='match')
           div(class='match-content') Confidence Score: #{obj.score}
             div
                 pre !{obj.pbdb}
                 a(href= obj.pbdb_link) #{obj.pbdb_link}

             div
                 pre !{obj.idigbio}
                 a(href= obj.idigbio_link) #{obj.idigbio_link}

             div Matched On: #{obj.matched_on}

           div(class='score score#{obj.score}')

      
